#img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
#result{
    font-size: 50px;
    cursor: none;
}
#phonesdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#firstbtn{
    margin-left: 100px;
}
#phonesbtn{
   border: solid black;
   background-color: black;
   color: white;
   width: 100px;
}
#statusbtn{
    border: solid black;
    background-color: black;
    color: white;
    width: 100px;
}
#Status{
    margin-left: 100px;
    margin-top: 20px;
}
a{
    color: white;
}
#Enterbtn{
    background-color: black;
    color: white;
    color: white;
    width: 100px;
    margin-top: 20px;
    margin-left: 100px;
}
#img2{
    background-color: white;
    border: solid white;
}